@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #FFFEEB;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 3%;
  padding: 0% 6% 0% 5%;
  transition: all 0.3s;
}

/* .header.sticky{
    margin: 0;
    padding: 0% 6% 0% 6%;
    background-color: #39b54a;
} */

.header-logo {
  width: 10%;
}

.header-logo img {
  width: 100%;
  height: auto;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39b54a;
  padding: 1.6%;
  width: 55%;
  border-radius: 10em;
  gap: 14%;
  transition: all 0.3s;
}

.header-link {
  text-decoration: none;
  font-weight: 800;
  font-size: 1rem;
  padding-right: 0.2%;
  color: #fff;
  transition: ease-in-out 0.3s;
}

.header-link:hover {
  color: #175e20;
  font-style: normal;
}

.header-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #175e20;
  transition: width 0.3s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(0%);
}

.header-link:hover::after {
  width: 100%;
  transform: translateX(0%);
}

.main-page {
  display: flex;
  flex-direction: column ;
  padding-top: 1%;
}

.main-content{
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5%;
  margin-left: 2%;
}

.content h1 {
  font-size: 4rem;
  color: #066130;
  margin-right: 25%;
  overflow: hidden;
}

.content p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 25%;
}

.about-button {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #a67c52;
  box-shadow: 0px 2px 5px 1px #0000006b;
  padding: 1.2%;
  margin: 0.3%;
  margin-bottom: 1%;
  width: 20%;
  border-radius: 10em;
  transition: 0.5s;
}

.about-button:hover {
  background-color: #39b54a;
}

.farmer-element{
  width: 100%;
}

.farmer-element img{
  width: 100%;
}

.planta-elemento{
  position: absolute;
  top: 93%;
  left: 64%;
  width: 120%;
}

.planta-elemento img{
  width: 100%;
}

.element-green {
  width: 24%;
  height: 104%;
  background-color: #39b54a;
  border-top-right-radius: 20em;
} 

#img2 {
  width: 30%;
}

.element-brown {
  width: 40%;
  height: 30%;
  background-color: #a67c52;
  border-top-left-radius: 10em;
  border-bottom-left-radius: 10em;
}

.division {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  position: relative;
  gap: 7%;
  padding: 1%;
  padding-top: 2%;
  background-color: #066130;
  box-shadow: 1px 5px 10px 1px #0000006b;
}

.division img {
  margin-bottom: 20%;
  width: 80%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7%;
}

.item p {
  font-size: 1.1rem;
  color: #ffff;
  font-weight: 600;
  width: 100%;
}

.main-carrossel{
  display: flex;
  background-image: url(/assets/PLANTINHA.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 2px 5px 2px #0000006b;
  width: 100%;
  height: 600px;
}

.carrossel{
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
}

.carrossel img{
  width: 28%;
  border: 33px solid #ffff;
  border-left: 20px solid #ffff;
  border-right: 20px solid #ffff;
  border-radius: 5em;
}

.carrossel-text{
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: justify;
  width: 35%;
  color: #ffff;
}

.carrossel-text h1{
  font-size: 2.3rem;
  font-weight: 700;
}

.carrossel-text p{
  font-size: 1.3rem;
}

.about-page{
  display: flex;
}

.about-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-image{
  width: 46%;
}

.about-image img{
  width: 100%;
}

.about-text{
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  color: #056837;
  padding-left: 12%;
  width: 43%;
}

.about-text h2{
  font-size: 2.2rem;
  font-weight: 900;
  padding-bottom: 6%;
}

.about-text p{
  font-size: 1.2rem;
  font-weight: 600;
}

.product-page{
  position: relative;
  border-bottom: 40px solid #39b54a;
  box-shadow: 0px 10px 10px 0px #0000006b;
  padding-bottom: 7%;
}

.container-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #056837;
}

.container-product h2{
  font-size: 2.2rem;
  font-weight: 900;
  padding-bottom: 2%;
}

.container-product p{
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 5%;
  width: 50%;
}

.container-item{
  display: flex;
  gap: 90px;
}

.products{
  display: flex;
  width: 50%;
  padding-bottom: 3.1%;
}

.product{
  display: flex;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  border-radius: 2.5em;
  border: 5px solid #885E4B;
  height: 27em;
  width: 22em;
  transition: 0.5s;
}

.product-image1{
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  transition: 0.5s;
}

.project-image1 img{
  width: 10px;
}

.product:hover .product-image1{
  filter: blur(3px);
  scale: 1.1;
}

.product-image2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  transition: 0.5s;
}

.product-image2 img{
  width: 400px;
}

.product:hover .product-image2{
  transform: translate(-50%, -50%);
}

.products img{
  width: 100%;
}

.container-product a{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #39b54a;
  box-shadow: 0px 2px 5px 1px #0000006b;
  padding: 0.5%;
  margin: 0.3%;
  margin-top: 4%;
  margin-bottom: 1%;
  width: 10%;
  border-radius: 10em;
  transition: 0.5s;
}

.container-product a:hover {
  background-color: #a67c52;
}

.footer-page{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #086c34;
  color: #fff;
}

.forms{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.forms h2{
  font-size: 2.8rem;
  margin-left: 1%;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 0.2em;
  margin: 2%;
}

.form input,
.form textarea,
.form button {
  width: 90%;
  background: #FFFEEB;
  transition: 0.5s;
}

.form input,
.form textarea{
  font: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 1%;
  padding: 1.5%;
  color: #000;
  transition: all 0.5s;
}

.form input::placeholder,
.form textarea::placeholder{
  color: #39b54a;
}

.form textarea{
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
  outline: none;
  filter: brightness(90%);
  box-shadow: 2px 2px 3px 0px #0000006b;
}

.form button{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #a67c52;
  box-shadow: 0px 2px 5px 1px #0000006b;
  padding: 1.2%;
  margin: 0.3%;
  margin-bottom: 1%;
  width: 40%;
  border-radius: 10em;
  border: 0;
  cursor: pointer;
  transition: 0.5s;
}

.form button:hover {
  background-color: #39b54a;
}

.formu{
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 1.2;
  text-align: center;
  overflow-y: hidden;
}

.formu::before{
  display: block;
}

.medias-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5em;
  width: 40%;
}

.medias-container h2{
  font-size: 3rem;
  font-weight: 800;
}

.medias-container p{
  font-size: 1.2rem;
}

.medias-buttons{
  display: flex;
  align-items: center;
  gap: 1em;
  width: 40%;
}

.medias-buttons a{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #39b54a;
  border-radius: 1em;
  padding: 5% 10% 5% 10%;
  transition: 0.5s;
}

.medias-buttons a:hover{
  background-color: #a67c52;
}

.medias-buttons img{
  width: 100%;
  height: auto;
}